.page {
  height: 100%;
}
.page-body {
  margin: 0px;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;

  background-color: var(--basic-white);
  background-image: url("");
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  width 1200px;
  margin: 0px auto;
  box-shadow: 0 5px 15px rgba(0,1,1,0.2);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
input[type='number'] {
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
:root {
  --basic-black: #000000;
  --basic-dark-black: #333333;
  --basic-orign-black:#231F20;
  --basic-white: #ffffff;
  --basic-checkbox-disabled: #6A6A6A;

  --basic-brown-light: #766357;
  --basic-brown:  #604E43;
  --basic-brown-dark:  #503E33;

  --basic-gray-very-light: #F2F2F2;
  --basic-gray-very-light-light:#EBEBEB;
  --basic-gray-line: #E5E5E5;
  --basic-graylight: #ABABAB;
  --basic-graylight-opal:#BDBBBC;
  --basic-graylight-original: #EEEEEE;
  --basic-gray-light: #A9A9A9;
  --basic-graylight-white:#CACACA;
  --basic-gray: #6A6A6A;
  --basic-gray-dark: #666666;
  --basic-gray-back: #888888;

  --basic-blue-light: #81B3D2;
  --basic-blue: #81B3D2;
  --basic-blue-skay: #669EC0;
  --basic-blue-dark: #5496BD;
}
.main-navigation {
  position: relative;
  display: flex;
  width: 1200px;
  height: 56px;
  font: 700 14px/26px "PT Sans";
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.site-nav-list {
  width: 1200px;
  padding: 0px 72px;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}
.site-item {
  width: 229px;
  margin: 0px;
  padding: 0px;
}
.site-nav-list li:nth-of-type(1) {
  text-align: left;
}
.site-nav-list li:nth-of-type(2) {
  text-align: left;
}
.site-nav-list li:nth-of-type(3) {
  margin-left: 140px;
  text-align: right;
}
.site-nav-list li:nth-of-type(4) {
  padding-right: 0px;
  text-align: right;
}
.main-header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  margin-left: 531px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.site-item a {
  color: var(--basic-black);
}
.site-item a:focus {
  color: var(--basic-brown-light);
}
.site-item a:hover {
  color: var(--basic-blue-light);
}
.site-item a:active {
  color: rgba(0,0,0,0.3);
}
.logo-index {
  width: 1200px;
  height: 509px;
  text-align: center;
  background-color: var(--basic-blue-dark);
  background-image:url("../img/background-photo.jpg");
  display: flex;
  justify-content: center;
}
.logo-index::after {
  position: absolute;
  top: 509px;
  content: url("../img/whiteshape.png");
  width: 1200px;
  height: 57px;
}
.about-city {
  width: 520px;
  min-height: 125px;
  margin-top: 0px;
  background-color: var(--basic-white);
  padding: 42px 340px 51px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-city p:first-of-type {
  margin:0px;
  padding: 0px;
  font: 700 21px/26px "PT Sans";
  display: flex;
  justify-content: center;
}
.about-city p:last-of-type {
  margin: 0px;
  padding: 0px;
  font: 400 14px/26px "PT Sans";
  display: flex;
}
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px ;
}
.features-list li:first-of-type {
  grid-column: 1/4;
  grid-row: 1/2;
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  display: grid;
  grid-template-columns: 400px 800px;
}
.feauteres-item-card {
  width: 400px;
  margin: 0px;
  padding: 50px 0px 54px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.feauteres-item-card h3:only-of-type {
  width: 151px;
  min-height: 43px;
  padding: 0px;
  margin: 0px;
  font: 700 21px/21px "PT Sans";
}
.feauteres-item-card p:first-of-type {
  width: 300px;
  min-height: 21px;
  margin: 0px;
  padding: 0px;
  justify-content: center;
}
.feauteres-item-card p:last-of-type {
  width: 300px;
  min-height: 43px;
  margin: 0px;
  padding: 0px;
}
.feauteres-item-card:nth-of-type(2),
.feauteres-item-card:nth-of-type(3),
.feauteres-item-card:nth-of-type(4) {
  width: 400px;
  min-height: 188px;
  padding: 60px 0px 82px;
  background-color: var(--basic-white);
}
.feauteres-item-card:nth-of-type(4) {
  width: 400px;
  height: 193px;
  padding: 56px 0px 81px;
  background-color: var(--basic-white);
}
.feauteres-item-card img {
  padding-top: -4px;
  margin-bottom: 27px;
}
.features-list li:nth-child(5) {
  grid-column: 1/4;
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  display: grid;
  grid-template-columns: 800px 400px;
}
.feauteres-item-card:nth-of-type(5) {
  width: 400px;
  height: 155px;
  padding: 50px 0px 51px;
  color: var(--basic-white);
}
.features-list li:nth-child(6),
.features-list li:nth-child(7),
.features-list li:nth-child(8) {
  background-color: var(--basic-graylight-original);
}
.interest {
  position: relative;
  height: 97px;
  margin: 0px;
  padding: 58px 0px 136px;
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.interest p:nth-of-type(1) {
  margin: 0px 457px 0px 446px;
  padding: 0px;
  font: 700 30px/24px "PT Sans";
}
.interest p:nth-of-type(2) {
  width: 435px;
  margin: 0px;
  padding: 0px;
  padding-top: 32px;
  line-height: 24px;
}
.interest p:nth-of-type(3) {
  width: 435px;
  margin: 0px;
  padding: 0px;
  line-height: 24px;
}
.appointment-title {
  position: absolute;
  bottom: 0px;
  width: 568px;
  height: 86px;
  padding: 0px;
  margin: 0px auto;
  font: 700 21px/26px "PT Sans";
  color: var(--basic-white);
  background-color: var(--basic-brown-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.appointment-title:hover {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}
.appointment-title:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--basic-brown-dark);
}
.appointment-info  {
  position: absolute;
  padding: 55px;
  width: 458px;
  height: 286px;
  background-color: var(--basic-white);
  margin: 0px 316px 0px 315px;
  font: 700 14px/26px "PT Sans";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.appointment-item {
  position: relative;
  padding: 0px;
  margin: 0px;
  font: 700 14px/26px "PT Sans";
  display: flex;
  flex-wrap: wrap;
}
.appointment-item label {
  padding:6px 16px 0px 0px ;
}
.appointment-item input {
  position: absolute;
  right: 0px;
  width: 333px;
  height: 38px;
  padding: 0px 0px 0px 13px;
  border: 0px;
  background-color: var(--basic-gray-very-light);
  font: bold 14px/26px "PT Sans";
}
.appointment-item input:hover {
  background-color: var(--basic-gray-very-light-light);
}
.appointment-item input:focus {
  width: 329px;
  height: 34px;
  background-color: var(--basic-white);
  border: 2px solid #E5E5E5;
}
.appointment-item input::-webkit-input-placeholder {
  color:var(--basic-black);
  opacity: 1;
  text-align:start;
  font-weight: bold;
  text-transform: uppercase;
}
.appointment-item input::-moz-placeholder {
  color:var(--basic-black);
  opacity: 1;
  text-align:start;
  font-weight: bold;
  text-transform: uppercase;
}
.appointment-item input:-moz-placeholder {
  color:var(--basic-black);
  opacity: 1;
  text-align:start;
  font-weight: bold;
  text-transform: uppercase;
}
.appointment-item input:-ms-input-placeholder {
  color:var(--basic-black);opacity: 1;
  text-align:start;
  font-weight: bold;
  text-transform: uppercase;}

 .but-call-arrival {
  position: absolute;
  top: 56px;
  right: 55px;
  width: 22px;
  height: 23px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  color: var(--basic-gray-light);
}
.but-call-arrival:focus {
  color: var(--basic-black);
}
.but-call-arrival:active {
  color: var(--basic-blue);
}
.but-call-departure {
  position: absolute;
  top: 124px;
  right: 55px;
  width: 22px;
  height: 23px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}
.svg-change {
  width: 38px;
  height: 38px;
  fill: var(--basic-gray-light);
  border: none;
}
.svg-change:hover path {
  fill: var(--basic-black);
  border: none;
}
.svg-change:active path {
  fill: var(--basic-blue-light);
  border: transparent;
  outline: transparent;
}
.number .svg-change {
  width: 38px;
  height: 38px;
  fill: var(--basic-gray-light);
  border: none;
}
.number {
  width: 458px;
  height: 38px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.item-number input::-webkit-input-placeholder {
  color: var(--basic-black);
  text-align:center;
  font-weight: bold;
  opacity: 1;
}
.item-number input::-moz-placeholder {
  color: var(--basic-black);
  text-align:center;
  font-weight: bold;
  opacity: 1;
}
.item-number input:-moz-placeholder {
  color: var(--basic-black);
  text-align:center;
  font-weight: bold;
  opacity: 1;
}
.item-number input:-ms-input-placeholder {
  color: var(--basic-black);
  text-align:center;
  font-weight: bold;
  opacity: 1;
}
.item-number {
  margin: 0px;
  padding: 0px;
  font: 700 14px/26px "PT Sans";
  color: var(--basic-black)
}
.adults-number {
  width: 226px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adults-number label {
  margin: 0px;
  padding: 0px 41px 0px 0px;
  font: bold 14px/26px "PT Sans";
  color: var(--basic-black);
}
.but-plus,
.but-min {
  width: 38px;
  height: 38px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color: var(--basic-gray-very-light);
}
.but-min {
  padding-bottom: 4px;
}
.childrens-number {
  width: 179px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.childrens-number label {
  margin: 0px;
  padding: 0px 27px 0px 0px;
  color: var(--basic-black);
  font: bold 14px/26px "PT Sans";
}
.number input {
  width: 38px;
  height: 38px;
  background-color: var(--basic-gray-very-light);
  border: 0px;
  padding: 0px;
  text-align: center;
  font:bold 14px/26px "PT Sans";
}
.number input:hover {
  background-color: var(--basic-gray-very-light-light);
}
.number input:focus {
  width: 34px;
  height: 34px;
  border: 2px solid #E5E5E5;
  background-color: var(--basic-white);
}
.button-search {
  width: 458px;
  height: 58px;
  border: 0px;
  margin-top: 38px;
  padding: 0px;
  padding-left: 2px;
  font: 700 21px/26px "PT Sans";
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-blue);
}
 .button-search:hover {
  background-color: var(--basic-blue-skay);
}
.button-search:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--basic-blue-dark);
}
.map {
  margin-bottom: -120px;
}
.main-footer {
  width: 1200px;
  height: 120px;
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  background-position: 0 0;
  color: var(--basic-black);
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 120px;
}
.footer-contacts {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 26px 0px 36px 73px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer-contacts p {
  margin: 0px;
  font: 700 21px/26px "PT Sans";
  text-align: center;
  vertical-align: middle;
}
.footer-contacts a {
  margin: 0px;
  font: 700 21px/26px "PT Sans";
  color: var(--basic-black);
  text-align: center;
  vertical-align: middle;
}
.social {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list li {
  margin-left: 6px;
}
.social-list li:first-of-type {
  margin-left: 0px;
}
.social-button {
  width: 46px;
  height: 48px;
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-button:hover {
  background-color: var(--basic-blue-skay);
}
.social-button:active {
  background-color: var(--basic-blue-dark);
  color: rgba(255,255,255,0.3);
}
.social-button path:only-of-type:active {
  fill: rgba(255,255,255,0.3);
}
.prod {
  grid-column: 3/4;
  grid-row: 1/2;
  padding-right: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-black);
}
.prod p {
  padding-right: 8px;
}
.prod path:only-of-type:hover {
  fill: var(--basic-blue-light);
}
.prod path:only-of-type:active {
  fill: var(--basic-graylight-opal);
}

.hostel-catalog {
  width: 1200px;
  background-color: var(--basic-blue-dark);
  background-image:url("../img/background.jpg");
  color: var(--basic-white);
  display: grid;
  grid-template-columns: 208px 192px 400px 400px;
  grid-template-rows: 217px;
}
.hostel-infrastructure {
  grid-column: 1/2;
  margin: 0px;
  padding: 24px 0px 32px 73px;
  border: 0px;
  display: flex;
  flex-wrap: wrap;
}
.hostel-infrastructure ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.hostel-type {
  grid-column: 2/3;
  margin: 0px 0px 0px 119px;
  padding: 24px 0px 32px;
  border: 0px;
  display: flex;
  flex-wrap: wrap;
}
.hostel-type ul {
  width: 125px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.filter-item {
  grid-column: 4/5;
  position: relative;
  margin: 0px;
  padding: 0px 73px 32px 10px;
  border: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.titleform {
  margin: 0px;
  padding: 26px 0px 0px 0px;
  font: 700 16px/21px "PT Sans";
  text-align: start;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
input[type="checkbox"] {
  display: none;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -39px;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:disabled+label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -39px;
  width: 26px;
  height: 23px;
  background-image: url("../img/checkbox-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-checkbox label {
  margin-left: 39px;
}
.price-controls {
  width: 313px;
  height: 32px;
  margin: 10px 5px 0px 0px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  font:400 14px/21px "PT Sans";
  color: var(--basic-white);
  display: flex;
  flex-wrap: nowrap;
  vertical-align: middle;
}
.price-controls input::-webkit-input-placeholder {
  color: var(--basic-white);
  opacity: 1;
  text-transform: uppercase;
  text-align: start;
}
.price-controls input::-moz-placeholder {
  color: var(--basic-white);
  opacity: 1;
  text-transform: uppercase;
  text-align: start;
  vertical-align: middle;
}
.price-controls input:-moz-placeholder {
  color: var(--basic-white);
  opacity: 1;
  text-transform: uppercase;
  text-align: start;
  vertical-align: middle;
}
.price-controls input:-ms-input-placeholder {
  color: var(--basic-white);
  opacity: 1;
  text-transform: uppercase;
  text-align: start;
}
.price-controls input {
  width: 40px;
  height: 32px;
  padding: 0px 0px 4px;
  margin: 0px 0px 0px 2px;
  border: none;
  background-color: transparent;
  font:400 14px/21px "PT Sans";
  color: var(--basic-white);
}
.price-controls label:nth-of-type(1) {
  height: 32px;
  margin: 0px 45px 0px 64px;
}
.price-controls label:nth-of-type(2) {
  margin-left: 45px;
}
.filter-item .price-controls::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 170px;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  transform: translateX(-50%) translateY(-50%);
}
.range-filter{
  position: relative;
  margin: 0px;
  padding: 0px;
}
.range-max {
  position: absolute;
}
.range-controls {
  position: relative;
  width: 319px;
  height: 19px;
  margin: 0px;
  padding: 0px;
}
.range-controls .scale {
  height: 2px;
  background: var(--basic-white);
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-white);
}
.range-controls .toggle {
  position: absolute;
  top: -50%;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: var(--basic-graylight);
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 1px;
}
.range-controls .toggle-max {
  left: 56px;
}
.toggle:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.button-show {
  width: 137px;
  height: 36px;
  padding: 0px;
  margin-right: 12px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  font:14px/21px "PT Sans";
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
}
.button-show:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.sorting {
  position: relative;
  height: 86px;
  padding: 0px 73px;
  background-color: var(--basic-white);
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.sorting::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 1200px;
  height: 1px;
  background-color: var(--basic-gray-line);
  display: block;
}
.sorting-title {
  font:400 12px/18px "PT Sans";
}
.sorting-result {
  order: -1;
  margin-right: 46px;
  font:700 21px/26px "PT Sans";
}
.sorting-list {
  margin-top: 30px;
  font:12px/18px "PT Sans";
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}
.sorting-list li {
  margin-right: 32px;
}
.sorting-list a:link {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81B3D2;
}
.sorting-list a:hover {
  color: var(--basic-blue-light);
  border-bottom: 1px dotted #81B3D2;
}
.sorting-list a:active {
  color: var(--basic-black);
  border-bottom: none;
}
.sorting-list a:visited {
  color: var( --basic-blue-light);
  border-bottom: none;
}
.sorting-button {
  position: absolute;
  right: 73px;
  width: 34px;
  height: 21px;
  border: none;
  color: var(--basic-black);
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.sorting-button path:only-of-type:hover {
  fill: var(--basic-black);
}
.sorting-button path:only-of-type:active{
  fill: var(--basic-blue-light);
}
.sorting-button path:only-of-type:visited {
  color: var( --basic-blue-light);
}
.hostels-list {
  padding: 0px 73px;
  background-color: var(--basic-white);
}
.hostel-one {
  grid-row: 1/2;
}
.hostel-two {
  grid-row: 2/3;
}
.hostel-three {
  grid-row: 3/4;
}
.hostel {
  position: relative;
  height: 91px;
  padding: 30px 0px;
  margin: 0px;
  border-bottom: 1px #333333;
  display: grid;
  grid-template-columns: 164px 116px 142px 522px 110px;
  grid-template-rows: 20px 43px 27px;
}
.hostel::after {
  content: "";
  position: absolute;
  left: -73px;
  bottom: 0;
  width: 1200px;
  height: 1px;
  background-color: var(--basic-gray-line);
  display: block;
}
 .hostel img {
  grid-column: 1/2;
  grid-row: 1/4;
  margin: 0px;
}
.hostel-name h2 {
  grid-column: 2/5;
  grid-row: 1/2;
  width: 260px;
  margin: -6px 0px 0px;
  padding: 0px;
  font:700 21px/26px "PT Sans";
  color: var(--basic-black);
  text-align: left;
  vertical-align: top;
}
.hostel-name h2:link {
  color: var(--basic-black);
}
.hostel-name h2:hover {
  color: var(--basic-blue-light);
}
.hostel-name h2:active {
  color: rgba(0,0,0,0.3);
}
.type-hostel {
  grid-row: 2/3;
  grid-column: 2/3;
  width: 110px;
  padding: 0px;
  margin: 6px 0px 0px;
  text-align: left;
  height: 21px;
  width: 96px;
}
.hostel .price {
  grid-row: 2/3;
  grid-column: 3/4;
  width: 110px;
  height: 43px;
  margin: 6px 0px 0px;
  padding: 0;
  text-align: left;
}
.details {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 110px;
  height: 27px;
  background-color: var(--basic-blue-light);
  font: 700 14px/21px "PT Sans";
  color: var(--basic-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.details:hover {
  color: var(--basic-white);
  background-color: var(--basic-blue-skay);
}
.details:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--basic-blue-dark);
}
.to-book {
  grid-column: 3/4;
  grid-row: 3/4;
  width: 142px;
  height: 27px;
  background-color: var(--basic-brown-light);
  font: 700 14px/21px "PT Sans";
  color: var(--basic-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.to-book:hover {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}
.to-book:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--basic-brown-dark);
}
.rating {
  grid-column: -2/-1;
  grid-row: -2/-1;
  width: 110px;
  height: 27px;
  background-color: var(--basic-gray-very-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.stars {
  grid-column: -2/-1;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
}
.star {
  width: 18px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-size: cover;
  margin-left: 6px;
}
