.page {
  height: 100%;
}
.page-body {
  margin: 0px;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;

  background-color: var(--basic-white);
  background-image: url("");
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  width 1200px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Цвета */
:root {
  --basic-black: #000000;
  --basic-dark-black: #333333;
  --basic-orign-black:#231F20;
  --basic-white: #ffffff;

  --basic-brown-light: #766357;
  --basic-brown:  #604E43;
  --basic-brown-dark:  #503E33;

  --basic-gray-very-light: #F2F2F2;
  --basic-gray-very-light-light:#EBEBEB;
  --basic-gray-line: #E5E5E5;
  --basic-graylight: #ABABAB;
  --basic-graylight-opal:#BDBBBC;
  --basic-graylight-original: #EEEEEE;
  --basic-gray-light: #A9A9A9;
  --basic-graylight-white:#CACACA;
  --basic-gray: #6A6A6A;
  --basic-gray-dark: #666666;
  --basic-gray-back: #888888;


  --basic-blue-light: #81B3D2;
  --basic-blue: #81B3D2;
  --basic-blue-skay: #669EC0;
  --basic-blue-dark: #5496BD;
}
/* Навигация */
.main-navigation {
  width: 1200px;
  height: 56px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  position: relative;
  display: flex;
}
.site-nav-list {
  width: 1200px;
  padding-left: 72px;
  padding-right: 72px;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}
.site-item {
  width: 229px;
  margin: 0px;
  padding: 0px;
}
.site-nav-list li:nth-of-type(1) {
  text-align: left;
}
.site-nav-list li:nth-of-type(2) {
  text-align: left;
}
.site-nav-list li:nth-of-type(3) {
  margin-left: 138px;
  text-align: right;
}
.site-nav-list li:nth-of-type(4) {
  padding-right: 0px;
  text-align: right;
}
.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  margin-left: 531px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* Состояния ссылок-Навигация */
.site-item a {
  color: var(--basic-black);
}
.site-item a:focus {
  color: var(--basic-brown-light);
}
.site-item a:hover {
  color: var(--basic-blue-light);
}
.site-item a:active {
  color: rgba(0,0,0,0.3);
}
 /* Логотип на фоне*/
.logo-index {
  width: 1200px;
  height: 509px;
  background: url(img/background_photo.jpg);
  display: flex;
  justify-content: center;
  text-align: center;
}
.logo-index::after {
  content: url(img/whiteshape.png);
  width: 1200px;
  height: 57px;
  position: absolute;
  top: 509px;
}
/* Преимущества */
.about-city {
  width: 520px;
  height: 125px;
  background-color: var(--basic-white);
  margin-top: 0px;
  padding-top: 42px;
  padding-bottom: 51px;
  padding-left: 340px;
  padding-right: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-city p:first-of-type {
  margin:0px;
  padding: 0px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  display: flex;
  justify-content: center;
}
.about-city p:last-of-type {
  margin: 0px;
  padding: 0px;
  display: flex;
}
/* Разделы с преимуществами */
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px ;
}
.features-list li:first-of-type {
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  grid-column: 1/4;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 400px 800px;
}
.feauteres-item-card {
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
  padding-bottom: 54px;
}
.feauteres-item-card h3:only-of-type {
  width: 151px;
  min-height: 43px;
  padding: 0px;
  margin: 0px;
  font-size: 21px;
  font-weight: 700;
}
.feauteres-item-card p:first-of-type {
  margin: 0px;
  padding: 0px;
  width: 300px;
  height: 21px;
  justify-content: center;
}
.feauteres-item-card p:last-of-type {
  margin: 0px;
  padding: 0px;
  width: 300px;
  min-height: 43px;
}
.feauteres-item-card:nth-of-type(2),
.feauteres-item-card:nth-of-type(3),
.feauteres-item-card:nth-of-type(4) {
  width: 400px;
  height: 188px;
  background-color: var(--basic-white);
  padding: 0px;
  padding-top: 60px;
  padding-bottom: 82px;
}
.feauteres-item-card:nth-of-type(4) {
  width: 400px;
  height: 193px;
  background-color: var(--basic-white);
  padding: 0px;
  padding-top: 56px;
  padding-bottom: 81px;
}
.feauteres-item-card img {
  padding-top: -4px;
  margin-bottom: 27px;
}
.features-list li:nth-child(5) {
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 800px 400px;
}
.feauteres-item-card:nth-of-type(5) {
  color: var(--basic-white);
  width: 400px;
  height: 155px;
  padding: 0px;
  padding-top: 50px;
  padding-bottom: 51px;
}
.features-list li:nth-child(6),
.features-list li:nth-child(7),
.features-list li:nth-child(8) {
  background-color: var(--basic-graylight-original);
}
.interest {
  height: 97px;
  margin: 0px;
  padding: 0px;
  padding-top: 58px;
  padding-bottom: 136px;
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.interest-title {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}
.interest p:nth-of-type(2) {
  width: 435px;
  margin: 0px;
  padding: 0px;
  padding-top: 30px;
  line-height: 24px;
}
.interest p:nth-of-type(3) {
  width: 435px;
  margin: 0px;
  padding: 0px;
  line-height: 24px;
}
/* Форма поиска */
.appointment-title {
  width: 568px;
  height: 86px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-brown-light);
  padding: 0px;
  margin:0px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.appointment-title:hover {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}
.appointment-title:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--basic-brown-dark);
}
.appointment-info  {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  width: 458px;
  height: 174px;
  background-color: var(--basic-white);
  margin-left: 315px;
  margin-right: 316px;
  position: absolute;
  padding: 55px;
  padding-bottom: 167px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.appointment-item {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}
.appointment-item label {
  padding-top: 6px;
  padding-right: 16px;
}
.appointment-item input {
  width: 346px;
  height: 38px;
  background-color: var(--basic-gray-very-light);
  padding: 0px;
  border: 0px;
  position: absolute;
  right: 0px;
}
.appointment-item input:hover {
  background-color: var(--basic-gray-very-light-light);
}
.appointment-item input:active {
  background-color: var(--basic-white);
  border: 2px solid #E5E5E5;
}
.appointment-item input::-webkit-input-placeholder {color: var(--basic-black);text-align:start;font-weight: bold;text-transform: uppercase;padding-left: 13px;}
.appointment-item input::-moz-placeholder          {color: var(--basic-black);text-align:start;font-weight: bold;text-transform: uppercase;padding-left: 13px;}/* Firefox 19+ */
.appointment-item input:-moz-placeholder           {color: var(--basic-black);text-align:start;font-weight: bold;text-transform: uppercase;padding-left: 13px;}/* Firefox 18- */
.appointment-item input:-ms-input-placeholder      {color: var(--basic-black);text-align:start;font-weight: bold;text-transform: uppercase;padding-left: 13px;}

 .but-call-arrival {
  background-color: transparent;
  width: 22px;
  height: 23px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 60px;
  right: 65px;
  color: var(--basic-gray-light);
}
.but-call-arrival:focus {
  color: var(--basic-black);
}
.but-call-arrival:active {
  color: var(--basic-blue);
}
.but-call-departure {
  background-color: transparent;
  width: 22px;
  height: 23px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 130px;
  right: 65px;
}
.but-plus-adults  {
  background-color: transparent;
  width: 11px;
  height: 11px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 180px;
  right: 300px;
}
.but-min-adults {
  background-color: transparent;
  width: 11px;
  height: 11px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 185px;
  right: 375px;
}
.but-min-children {
  background-color: transparent;
  width: 11px;
  height: 11px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 185px;
  right: 145px;
}
.but-plus-children {
  background-color: transparent;
  width: 11px;
  height: 11px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 180px;
  right: 65px;
}
.svg-change path {
  fill: var(--basic-gray-light);
  border: none;
}
.svg-change:hover path {
  fill: var(--basic-black);
  border: none;
}
.svg-change:active path {
  fill: var(--basic-blue-light);
  border: none;
}
.number {
  width: 458px;
  height: 38px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.item-number {
  margin: 0px;
  padding: 0px;
}
.adults-number {
  width: 230px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.childrens-number {
  width: 230px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.adults-number label {
  margin: 0px;
  padding: 0px;
  padding-right: 35px;
}
.childrens-number label {
  margin: 0px;
  padding: 0px;
  padding-right: 27px;
}
.number input {
  width: 114px;
  height: 38px;
  background-color: var(--basic-gray-very-light);
  border: 0px;
  padding: 0px;
}
.number input::-webkit-input-placeholder {color: var(--basic-black);text-align:center;font-weight: bold;}
.number input::-moz-placeholder          {color: var(--basic-black);text-align:center;font-weight: bold;}/* Firefox 19+ */
.number input:-moz-placeholder           {color: var(--basic-black);text-align:center;font-weight: bold;}/* Firefox 18- */
.number input:-ms-input-placeholder      {color: var(--basic-black);text-align:center;font-weight: bold;}

/* Кнопка Найти */
.button-search {
  width: 458px;
  height: 58px;
  border: 0px;
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-white);
  position: absolute;
  bottom: 55px;
  text-transform: uppercase;
  background-color: var(--basic-blue);
}
 .button-search:hover {
  background-color: var(--basic-blue-skay);
}
.button-search:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--basic-blue-dark);
}
.map {
  margin-bottom: -120px;
}
/* Подвал */
.main-footer {
  width: 1200px;
  height: 120px;
  margin-bottom: 0px;
  color: var(--basic-black);
  background-color: rgba(255, 255, 255, 0.9);
  background-position: 0 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 120px;
}
.footer-contacts {
  padding-left: 73px;
  padding-top: 28px;
  padding-bottom: 36px;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer-contacts p {
  margin: 0px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}
.social {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list li {
  margin-left: 6px;
}
.social-list li:first-of-type {
  margin-left: 0px;
}
.social-list li:hover {
  background-color: var(--basic-blue-skay);
}
.social-list li:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--basic-blue-dark);
}
.social-button {
  width: 46px;
  height: 48px;
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-button:active path {
  fill: rgba(255,255,255,0.3);
}
.prod {
  padding-right: 73px;
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-black);
}
.prod p {
  padding-right: 8px;
}
.prod a:hover path {
  fill: var(--basic-blue-light);
}
.prod a:active path {
  fill: var(--basic-orign-black);
}

/* КАТАЛОГ */
.hostel-catalog {
  width: 1200px;
  background: url(img/background.jpg);
  color: var(--basic-white);
  display: grid;
  grid-template-columns: 208px 192px 400px 400px;
  grid-template-rows: 217px;
}
.hostel-infrastructure {
  grid-column: 1/2;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  border: 0px;
  padding-bottom: 32px;
  padding-top: 24px;
  padding-left: 73px;
}
.hostel-infrastructure ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.hostel-type {
  grid-column: 2/3;
  margin: 0px;
  padding: 0px;
  margin-left: 119px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 32px;
  padding-top: 24px;
  border: 0px;
}
.hostel-type ul {
  width: 125px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.filter-item {
  grid-column: 4/5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-bottom: 32px;
  padding-right: 73px;
  padding-left: 10px;
  border: 0px;
}
.titleform {
  text-align: start;
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  padding-top: 26px;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
input[type="checkbox"] {
  display: none;
}
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special);
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: -1px;
  width: 19px;
  height: 19px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -34px;
  width: 22px;
  height: 17px;
  background-image: url("img/ok.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-checkbox label {
  margin-left: 39px;
}
.price-controls {
  display: flex;
  flex-wrap: nowrap;
  color: var(--basic-white);
  padding-top: 10px;
}
::-webkit-input-placeholder {text-align:center;color: var(--basic-white);text-transform: uppercase;}
::-moz-placeholder          {text-align:center;color: var(--basic-white);text-transform: uppercase;}/* Firefox 19+ */
:-moz-placeholder           {text-align:center;color: var(--basic-white);text-transform: uppercase;}/* Firefox 18- */
:-ms-input-placeholder      {text-align:center;color: var(--basic-white);text-transform: uppercase;}

.price-controls input {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 0px;
  width: 156px;
  height: 32px;
}
.price-controls input:first-of-type {
  margin-left: -2px;
}
.range-filter{
  margin: 0px;
  padding: 0px;
  position: relative;
}
.range-max {
  position: absolute;
}
.range-controls {
  margin: 0px;
  width: 325px;
  position: relative;
  height: 19px;
  margin-top: 10px;
}
.range-controls .scale {
  height: 2px;
  background: var(--basic-white);
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-white);
}
.range-controls .toggle {
  position: absolute;
  top: -50%;
  left: 0;
  width: 9px;
  height: 9px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: var(--basic-graylight);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 0px;
}
.range-controls .toggle-max {
  left: 248px;
}
.toggle:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.button-show {
  width: 137px;
  height: 36px;
  padding: 0px;
  margin-right: 10px;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
}
.button-show:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/* Сортировка */
.sorting {
  padding-left: 73px;
  padding-right: 73px;
  position: relative;
  height: 86px;
  background-color: var(--basic-white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sorting::after {
  content: "";
  width: 1200px;
  height: 1px;
  background-color: var(--basic-gray-line);
  display: block;
  position: absolute;
  left: -0px;
  bottom: 0;
}
.sorting-title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.sorting-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  order: -1;
  margin-right: 46px;
}
.sorting-list {
  list-style: none;
  width: 239px;
  display: flex;
  justify-content: space-between;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
.sorting a:link {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dashed #81B3D2;
}
.sorting a:hover {
  color: var(--basic-blue-light);
  border-bottom: 1px dashed #81B3D2;
}
.sorting a:active {
  color: var(--basic-black);
  border-bottom: none;
}
.sorting a:visited {
  color: var( --basic-blue-light);
  border-bottom: none;
}
.sorting-button {
  width: 34px;
  height: 21px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  right: 73px;
  color: var(--basic-black);
  opacity: 0.3;
  border: none;
}
.sorting-button a:hover path {
  fill: var(--basic-blue-light);
}
.sorting-button a:active path{
  fill: var(--basic-black);
}
.sorting-button a:visited path {
  color: var( --basic-blue-light);
}
/* Раздел с результатами отелей */
.hostels-list {
  padding-left: 73px;
  padding-right: 73px;
  background-color: var(--basic-white);
  width: ;
}
.hostel-one {
  grid-row: 1/2;
}
.hostel-two {
  grid-row: 2/3;
}
.hostel-three {
  grid-row: 3/4;
}
.hostel {
  height: 91px;
  padding: 0px;
  margin: 0px;
  display: grid;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-template-columns: 164px 116px 142px 522px 110px;
  grid-template-rows: 30px 32px 28px;
  border-bottom: 1px #333333;
  position: relative;
}
.hostel::after {
  content: "";
  width: 1200px;
  height: 1px;
  background-color: var(--basic-gray-line);
  display: block;
  position: absolute;
  left: -73px;
  bottom: 0;
}
 .hostel img {
  margin: 0px;
  grid-column: 1/2;
  grid-row: 1/4;
}
/* Имя отеля */
.hostel-name h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0px;
  padding: 0px;
  text-align: left;
  vertical-align: top;
  grid-column: 2/5;
  grid-row: 1/2;
  width: 260px;
  margin-top: -6px;
}
.hostel-name h2:link {
  color: var(--basic-black);
}
.hostel-name h2:hover {
  color: var(--basic-blue-light);
}
.hostel-name h2:active {
  color: rgba(0,0,0,0.3);
}
.type-hostel {
  padding: 0px;
  margin: 0px;
  text-align: left;
  grid-row: 2/3;
  grid-column: 2/3;
  height: 21px;
  width: 96px;
}
.hostel .price {
  width: 110px;
  height: 21px;
  margin: 0;
  padding: 0;
  text-align: left;
  grid-row: 2/3;
  grid-column: 3/4;
}
/* Кнопка подробнее */
.details {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  width: 110px;
  height: 27px;
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details:hover {
  color: var(--basic-white);
  background-color: var(--basic-blue-skay);
}
.details:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--basic-blue-dark);
}
/* Забронировать */
.to-book {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  width: 142px;
  height: 27px;
  color: var(--basic-white);
  background-color: var(--basic-brown-light);
  grid-column: 3/4;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.to-book:hover {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}
.to-book:active {
  color: rgba(255,255,255,0.3);
  background-color: var(--basic-brown-dark);
}
.rating {
  width: 110px;
  height: 27px;
  background-color: var(--basic-gray-very-light);
  grid-column: -2/-1;
  grid-row: -2/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stars {
  grid-column: -2/-1;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
}
.star {
  width: 18px;
  height: 17px;
  background-image: url(img/stars.png);
  background-size: cover;
  margin-left: 5px;
}
