.page {
  height: 100%;
}
.page-body {
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;

  background-color: var(--basic-gray-back);
  background-image: url("");
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: 70px 1fr 120px;
  align-content: start;
}
.wrapper {
  width 1200px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/* Цвета */
:root {
  --basic-black: #000000;
  --basic-dark-black: #333333;
  --basic-orign-black:#231F20;
  --basic-white: #ffffff;

  --basic-brown-light: #766357;
  --basic-brown:  #604E43;
  --basic-brown-dark:  #503E33;

  --basic-gray-very-light: #F2F2F2;
  --basic-gray-very-light-light:#EBEBEB;
  --basic-graylight: #ABABAB;
  --basic-graylight-opal:#BDBBBC;
  --basic-graylight-original: #EEEEEE;
  --basic-gray-light: #A9A9A9;
  --basic-graylight-white:#CACACA;
  --basic-gray: #6A6A6A;
  --basic-gray-dark: #666666;
  --basic-gray-back: #888888;

  --basic-blue-light: #81B3D2;
  --basic-blue: #81B3D2;
  --basic-blue-skay: #669EC0;
  --basic-blue-dark: #5496BD;
}
/* Навигация */
.main-header-bar {

}
.main-navigation {
  height: 70px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);

  display: grid;
  position: relative;
}
.site-navigation {
  list-style: none;
  margin: 0;

  padding: 0;
  padding-top: 15px;
  text-decoration: none;
  display: grid;
  grid-template-columns: 200px 200px 400px 200px 200px;
}
.main-header-logo {
  margin-top: 0;


}
.site-navigation li:first-child(1) {
  grid-column: 1/2;
 }
.site-navigation li:nth-child(2){
  grid-column: 2/3;
}
.site-navigation li:nth-child(3){
  grid-column: 4/5;
}
.site-navigation a:last-child(4) {
  grid-column: 5/6;
}

/* Состояния ссылок-Навигация */
.site-navigation a:link {
  color: var(--basic-black);
}
 .site-navigation a:visited {
  color: var(--basic-brown-light);
}
.site-navigation a:hover {
  color: var(--basic-blue-light);
}
.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
/* Состояния ссылок-Форма поиска гостинницы-Шапка */
.search-hostel-title:hover {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}
.search-hostel-title:active {
  color: var(--basic-white);
  opacity: 0.3;
  background-color: var(--basic-brown-dark);
}
.search-hostel-form {
  background-color: var(--basic-white);
  opacity: 0.3;
}

 /* Логотип на фоне*/
.logo-index {
  height: 509px;
  background: url(img/background_photo.jpg);
}
.logo-welcome {
  width: 456.65px;
  height: 350.88px;
  margin-top: 77.35px;
  text-align: center;
}
/* Преимущества */
.about-city {
  height: 216px;
  background-color: var(--basic-white);
  margin-top: 0px;
  padding-top: 42.5px;
}
.about-city p:nth-child(1) {
  width: 470px;
  height: 80px;
  margin-top: 0px;
  margin-left: 365px;
  margin-right: 365px;
  margin-bottom: 16.5px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.about-city p:nth-child(2) {
  width: 512px;
  height: 26px;

  margin-top: 0px;
  margin-bottom: 51px;
  margin-left: 340px;
  margin-right: 341px;
}
/* Разделы с преимуществами */
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px ;
}
.features-list li:nth-child(1) {
  background-color: var(--basic-blue-light);
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 400px 800px;
}
.features-list li:nth-child(2) {
  background-color: var(--basic-white);
}
.features-list li:nth-child(3) {
  background-color: var(--basic-white);
}
.features-list li:nth-child(4) {
  background-color: var(--basic-white);
}
.features-list li:nth-child(5) {
  background-color: var(--basic-blue-light);
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 800px 400px;
}
.features-list li:nth-child(6) {
  background-color: var(--basic-graylight-original);
}
.features-list li:nth-child(7) {
  background-color: var(--basic-graylight-original);
}
.features-list li:nth-child(8) {
  background-color: var(--basic-graylight-original);
}
.feature-list h2 {
  font-size: 21px;
  font-weight: 700;
}
.feature-list h3 {
  font-size: 21px;
  font-weight: 700;
}
.interest {
  height: 291px;
  background-color: var(--basic-white);
  margin-top: 0px;
}
.interest-title {
  width: 297px;
  height: 24px;
  margin-left: 446px;
  padding-top: 58px;
  margin-top: 0px;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.interest-text {
  width: 435px;
  height: 95px;
  margin-left: 383px;
  margin-right: 382px;
  margin-top: 4px;
}

/* Форма поиска */
.search-hostel-title {
  width: 568px;
  height: 86px;

  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-brown-light);
  margin-top: -86px;


}
.search-hostel-form {
  width: 568px;
  height: 395px;
  margin-left: 316px;
  margin-right: 316px;
  background-color: var(--basic-white);
  font-weight: 700;
  position: absolute;
}
.search-hostel-form button {
  width: 458px;
  height: 58px;
  border: 0px;
  font-size: 21px;
  font-weight: 700;
  color: white;

}
.map {
  margin-bottom: -120px;
}

/* Подвал */
.main-footer {
  width: 1200px;
  height: 120px;

  color: var(--basic-black);
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-position: 0 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;

}
.footer-contacts {
  font-size: 21px;
  font-weight: 700;
}
.social-list {
  list-style: none;
}
.social-list li:hover {
  background-color: var(--basic-blue-skay);
}
.social-list li:active {
  background-color: var(--basic-blue-dark);
}

/* Кнопка найти */
.social-button {
  width: 46px;
  height: 48px;
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
}
.search-hostel-form button {
  background-color: var(--basic-blue);
}
.search-hostel-form button:hover {
  background-color: var(--basic-blue-skay);
}
.search-hostel-form button:active {
  background-color: var(--basic-blue-dark);
  opacity: 0.3;
}

.footer-copyright a:hover {
  width: 74px;
  margin-right: 8px;
}
.footer-copyright a:hover {
  color: var(--basic-blue);
}
.footer-copyright a:active

/* КАТАЛОГ */

.hostel-lost {
  height: 217px;
  width: 1200px;
  left: 40px;
  top: 56px;
  background: url(/img/background_photo.jpg);
}
/* Почему блок не видно? */
.hostel-form {
  color: var(--basic-white);
}
.hostel-form ul {
  list-style: none;
}
.titleform {
  font-size: 16px;
  font-weight: 700;
}
.filter {

}
.show {
  width: 137px;
  height: 37px;
  color: var(--basic-white);
  border: 1px solid #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  background-color: var(--basic-white);
}
.sorting p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.sorting ul {
  list-style: none;
}
.sorting a {
  color: var(--basic-black);
  opacity: 0.3;
}
.sorting a:visited {
  color: var( --basic-blue-light);
}
/* Раздел с результатами отелей */
.hostel {
  background-color: var(--basic-white);
}
/* Имя отеля */
.hostel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}
.hostel-name:link {
  color: var(--basic-black);
}
.hostel-name:hover {
  color: var(--basic-blue-light);
}
.hostel-name:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Кнопка подробнее */
.details {
  width: 110px;
  height: 27px;
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
}
.details button {
  background-color: var(--basic-blue);
}
.details:hover {
  background-color: var(--basic-blue-skay);
}
.details:active {
  background-color: var(--basic-blue-dark);
  opacity: 0.3;
}

/* Забронировать */
.to-book {
  width: 142px;
  height: 27px;
  color: var(--basic-white);
  background-color: var(--basic-brown-light);
}
.to-book:hover {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}
.to-book:active {
  color: var(--basic-white);
  opacity: 0.3;
  background-color: var(--basic-brown-dark);
}
.rating {
  width: 110px;
  height: 27px;
  background-color: var(--basic-gray-very-light);
}
