.page {
  height: 100%;
}
.page-body {
  margin: 0px;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;

  background-color: var(--basic-white);
  background-image: url("");
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.wrapper {
  width 1200px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Цвета */
:root {
  --basic-black: #000000;
  --basic-dark-black: #333333;
  --basic-orign-black:#231F20;
  --basic-white: #ffffff;

  --basic-brown-light: #766357;
  --basic-brown:  #604E43;
  --basic-brown-dark:  #503E33;

  --basic-gray-very-light: #F2F2F2;
  --basic-gray-very-light-light:#EBEBEB;
  --basic-graylight: #ABABAB;
  --basic-graylight-opal:#BDBBBC;
  --basic-graylight-original: #EEEEEE;
  --basic-gray-light: #A9A9A9;
  --basic-graylight-white:#CACACA;
  --basic-gray: #6A6A6A;
  --basic-gray-dark: #666666;
  --basic-gray-back: #888888;

  --basic-blue-light: #81B3D2;
  --basic-blue: #81B3D2;
  --basic-blue-skay: #669EC0;
  --basic-blue-dark: #5496BD;
}
/* Навигация */
.main-navigation {
  width: 1200px;
  height: 56px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  position: relative;
  display: flex;
}
.site-nav-list {
  width: 1200px;
  padding-left: 72px;
  padding-right: 72px;
  list-style: none;
  text-decoration: none;

  display: flex;
  flex-wrap: wrap;
}
.site-item {
  width: 229px;
  margin: 0px;
  padding: 0px;
}
.site-nav-list li:nth-of-type(1) {
  text-align: left;
}
.site-nav-list li:nth-of-type(2) {
  text-align: left;
}
.site-nav-list li:nth-of-type(3) {
  margin-left: 138px;
  text-align: right;
}
.site-nav-list li:nth-of-type(4) {
  padding-right: 0px;
  text-align: right;
}
.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  margin-left: 531px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Состояния ссылок-Навигация */
.site-item a:link {
  color: var(--basic-black);
}
.site-item a:visited {
  color: var(--basic-brown-light);
}
.site-item a:hover {
  color: var(--basic-blue-light);
}
.site-item a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
 /* Логотип на фоне*/
.logo-index {
  height: 509px;
  background: url(img/background_photo.jpg);
  display: flex;
  justify-content: center;
  text-align: center;
}
/* Преимущества */
.about-city {
  height: 216px;
  background-color: var(--basic-white);
  margin-top: 0px;
  padding-top: 42.5px;
}
.about-city p:first-of-type {
  width: 470px;
  height: 80px;
  margin-top: 0px;
  margin-left: 365px;
  margin-right: 365px;
  margin-bottom: 16.5px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.about-city p:nth-child(2) {
  width: 512px;
  height: 26px;

  margin-top: 0px;
  margin-bottom: 51px;
  margin-left: 340px;
  margin-right: 341px;
}
/* Разделы с преимуществами */
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px 256px 256px ;
}
.features-list li:nth-child(1) {
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 400px 800px;
}
.features-list li:nth-child(2),
.features-list li:nth-child(3),
.features-list li:nth-child(4) {
  background-color: var(--basic-white);
}
.features-list li:nth-child(5) {
  background-color: var(--basic-blue-light);
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 800px 400px;
}
.features-list li:nth-child(6),
.features-list li:nth-child(7),
.features-list li:nth-child(8) {
  background-color: var(--basic-graylight-original);
}
.features-list h2 {
  font-size: 21px;
  font-weight: 700;
}
.features-list h3 {
  font-size: 21px;
  font-weight: 700;
}
.feauteres-item-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.interest {
  height: 233px;
  margin: 0px;
  padding: 0px;
  padding-top: 58px;
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.interest-title {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}
.interest-text {
  width: 435px;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

/* Форма поиска */
.appointment-title {
  width: 568px;
  height: 86px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-brown-light);
  padding: 0px;
  margin:0px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.appointment-title:hover {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}
.appointment-title:active {
  color: var(--basic-white);
  opacity: 0.3;
  background-color: var(--basic-brown-dark);
}
.appointment-info  {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  width: 458px;
  height: 285px;
  background-color: var(--basic-white);
  margin-left: 315px;
  margin-right: 316px;
  position: absolute;
  padding: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.appointment-date {
  position: relative;
  padding: 0px;
  margin: 0px;
}
.appointment-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}
.appointment-item label {
  padding-right: 16px;
}
.departure-date label {
  padding-right: 16px;
}
.appointment-item input {
  width: 346px;
  height: 38px;
  background-color: var(--basic-gray-very-light);
  padding: 0px;
  border: 0px;
}
.appointment-date .but-call {
  background-color: none;
  position: absolute;
  border: 0px;
  display: flex;
  align-items: flex-end;
  top: 23px;
  right: 9px;
}
.but-call:link {
  color: var(--basic-gray-light);
}
.but-call:focus {
  color: var(--basic-black);
}
.but-call:active {
  color: var(--basic-blue);
}
.number {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.number .adults-number {
  width: 226px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.number .adults-number label {
  padding-right: 35px;
}
.number .childrens-number  label {
  padding-right: 27px;
}
.number input {
  width: 114px;
  height: 38px;
  background-color: var(--basic-gray-very-light);
  border: 0px;
  padding: 0px;
}
/* Кнопка Найти */
.button-search {
  width: 458px;
  height: 58px;
  border: 0px;
  font-size: 21px;
  font-weight: 700;
  color: white;
  position: relative;
  text-transform: uppercase
}
 .button-search {
  background-color: var(--basic-blue);
}
 .button-search:hover {
  background-color: var(--basic-blue-skay);
}
.button-search:active {
  background-color: var(--basic-blue-dark);
  opacity: 0.3;
}
.map {
  margin-bottom: -120px;
}
/* Подвал */
.main-footer {
  width: 1200px;
  height: 120px;
  margin-bottom: 0px;
  color: var(--basic-black);
  background-color: rgba(255, 255, 255, 0.9);
  background-position: 0 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 120px;
}
.footer-contacts {
  font-size: 21px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/2;
}
.social {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column: 2/3;
  grid-row: 1/2;
}
.social-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 125px 46px 46px 46px 125px;
  grid-template-rows: 30px 1fr 30px;
  gap: 6px;
}
.social-list li.fb {
  grid-column: 3/4;
  grid-row: 2/3;
}
.social-list li.twitter {
  grid-column: 2/3;
  grid-row: 2/3;
}
.social-list li.youtube{
  grid-column: 4/5;
  grid-row: 2/3;
}
.social-list li:hover {
  background-color: var(--basic-blue-skay);
}
.social-list li:active {
  background-color: var(--basic-blue-dark);
}
.social-button {
  width: 46px;
  height: 48px;
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.prod {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prod p {
  padding-right: 8px;
}
.footer-copyright a:hover {
  width: 74px;
  margin-right: 8px;
}
.footer-copyright a:hover {
  color: var(--basic-blue);
}
/* КАТАЛОГ */
.hostel-catalog {
  background: url(img/background.jpg);
  color: var(--basic-white);
  display: grid;
  grid-template-columns: 73px 135px 192px 200px 200px 200px 127px 73px;
  grid-template-rows: 217px;
}
.hostel-infrastructure {
  grid-column: 2/3;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  border: 0px;
  padding-bottom: 32px;
  padding-top: 24px;
}
.hostel-infrastructure ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.hostel-type {
  grid-column: 3/5;
  margin: 0px;
  padding: 0px;
  margin-left: 119px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 32px;
  padding-top: 24px;
  border: 0px;
}
.hostel-type ul {
  width: 125px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.filter-item {
  grid-column: 6/8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
  padding-bottom: 32px;
  padding-top: 10px;
  border: 0px;
}
.titleform {
  text-align: start;
  font-size: 16px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  padding-top: 24px;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special);
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: -1px;
  width: 19px;
  height: 19px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -34px;
  width: 22px;
  height: 17px;
  background-image: url("img/ok.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-button {
  padding-right: 30px;
  padding-left: 30px;
}
.filter-checkbox label {
  margin-left: 39px;
}

.price-controls {
  display: flex;
  flex-wrap: nowrap;
  color: var(--basic-white);
}
.price-controls input {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 158px;
  height: 36px;
}
.price-controls input:first-of-type {
  margin-right: -2px;
}
.range-filter{
  position: relative;
  display: flex;
}
.range-max {
  position: absolute;
}
.range-controls {
  width: 325px;
  position: relative;
  height: 22px;
  margin-top: 20px;
  padding-right: 0px;
}
.range-controls .scale {
  height: 2px;
  background: #ffffff;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #ffffff;
}
.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
}
.range-controls .toggle {
  position: absolute;
  top: -50%;
  left: 0;
  width: 9px;
  height: 9px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 248px;
}
.button-show {
  width: 137px;
  height: 37px;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase
}
/* Сортировка */
.sorting {
  padding-left: 73px;
  padding-right: 73px;
  position: relative;
  height: 56px;
  background-color: var(--basic-white);
  display: flex;
  align-items: center;
}
.sorting-title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.sorting-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  order: -1;
  margin-right: 46px;
}
.sorting-list {
  list-style: none;
  width: 239px;
  display: flex;
  justify-content: space-between;
}
.sorting a:link {
  color: var(--basic-black);
  opacity: 0.3;
}
.sorting a:hover {
  color: var(--basic-blue-light);
}
.sorting a:active {
  color: var(--basic-black);
}
.sorting a:visited {
  color: var( --basic-blue-light);
}
.sorting-button {
  position: absolute;
  right: 73px;
}
.sorting .sorting-button a:link {
  color: var(--basic-black);
  opacity: 0.3;
}
.sorting .sorting-button a:hover {
  color: var(--basic-blue-light);
}
.sorting .sorting-button a:active {
  color: var(--basic-black);
}
.sorting .sorting-button a:visited {
  color: var( --basic-blue-light);
}
/* Раздел с результатами отелей */
.hostels-list {
  padding-left: 73px;
  padding-right: 73px;
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1200;
  grid-template-rows: 150px 150px 150px;
}
.hostel-one {
  grid-row: 1/2;
}
.hostel-two {
  grid-row: 2/3;
}
.hostel-three {
  grid-row: 3/4;
}
.hostel {
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: 164px 116px 142px 522px 110px;
  grid-template-rows: 30px 32px 28px;
}
 .hostel img {
  margin: 0px;
  grid-column: 1/2;
  grid-row: 1/4;
}
/* Имя отеля */
.hostel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0px;
  text-align: left;
  vertical-align: top;
  grid-column: 2/5;
  grid-row: 1/2;
}
.hostel-name:link {
  color: var(--basic-black);
}
.hostel-name:hover {
  color: var(--basic-blue-light);
}
.hostel-name:active {
  color: var(--basic-black);
  opacity: 0.3;
}
.hostel-name h2 {
  padding: 0px;
  margin: 0px;
}
.type-hostel {
  padding: 0px;
  margin: 0px;
  text-align: left;
  grid-row: 2/3;
  grid-column: 2/3;
}
.hostel .price {
  margin: 0;
  padding: 0;
  text-align: left;
  grid-row: 2/3;
  grid-column: 3/4;
}
/* Кнопка подробнее */
.details {
  width: 110px;
  height: 27px;
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details:link {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.details:hover {
  color: var(--basic-white);
  background-color: var(--basic-blue-skay);
}
.details:active {
  background-color: var(--basic-blue-dark);
  opacity: 0.3;
}
/* Забронировать */
.to-book {
  width: 142px;
  height: 27px;
  color: var(--basic-white);
  background-color: var(--basic-brown-light);
  grid-column: 3/4;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.to-book:link {
  color: var(--basic-white);
  background-color: var(--basic-brown-light);
}
.to-book:hover {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}
.to-book:active {
  color: var(--basic-white);
  background-color: var(--basic-brown-dark);
  opacity: 0.3;
}
.rating {
  width: 110px;
  height: 27px;
  background-color: var(--basic-gray-very-light);
  grid-column: -2/-1;
  grid-row: -2/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stars {
  grid-column: -2/-1;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
}
.star {
  width: 18px;
  height: 17px;
  background-image: url(img/stars.png);
  background-size: cover;
  margin-right: 5px;
}
